<%- include('./partials/header.ejs') %>

<main class="container-fluid">
    <div class="row">
        <div class="col-md-4 bg-info p-3">
            <div id="chats" class="m-4 bg-light text-center rounded">
                <a href="#" class="btn btn-success d-block">Chats</a>
            </div>
            <div id="friends" class="m-4 bg-light text-center rounded">
                <a href="#" class="btn btn-success d-block">Friends</a>
            </div>
            <div id="settings" class="m-4 bg-light text-center rounded">
                <a href="#" class="btn btn-success d-block">Settings</a>
            </div>
            <div id="profile" class="m-4 bg-light text-center rounded">
                <a href="#" class="btn btn-success d-block">Profile</a>
            </div>
        </div>
        <div class="col-md-8 bg-success"></div>
    </div>
</main>

<%- include('./partials/footer.ejs') %>